/* Root pseudoclass custom properties: https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
    /* Website Color Scheme */
    --clr-primary: rgba(67, 196, 255, 1);
    --clr-secondary-green: rgb(73, 204, 154);
    --clr-secondary-red: rgb(184, 51, 42);
    --clr-secondary-purple: rgb(112, 49, 148);
    --clr-secondary-orange: rgb(250, 149, 33);
    --clr-secondary-pink: rgb(139, 35, 96);
    --clr-secondary-lime: rgb(120, 189, 55);


    --clr-neutral-white: rgb(250, 248, 244);
    --clr-neutral-black: rgba(25, 25, 25, 1);
    --clr-neutral-grey: rgba(234, 241, 241, 1);
    --clr-neutral-grey-darker: rgb(217, 224, 224);

    --fontfamily-primary: Arial, Helvetica, sans-serif;

    --fontweight-thin: 200;
    --fontweight-normal: 500;
    --fontweight-heavy: 800;

    --fontsize-small: 0.7rem;
    --fontsize-normal: 1.1rem;
    --fontsize-large: 2rem;
    --fontsize-title: 3rem;
}

/******** COMPOSITION: Macrolevel design choises that defines the skeleton of the webpage and basic composition within components ********/
/* Page Layout choices */
body {
    background-color: var(--clr-neutral-grey);
    color: var(--clr-neutral-black);
    font-family: var(--fontfamily-primary);
    font-size: var(--fontsize-normal);
    font-weight: var(--fontweight-normal);
}

.main-header { padding: 0.7rem 1.5rem; }

.container {
    max-width: 700px;
    margin: 2rem auto;
    padding: 1rem 3rem 5rem 3rem;
}
/* Component Layout choices */
#title,
.header-icon { display: inline; vertical-align: middle; }
   
.options {
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--clr-neutral-grey);
}

.hidden-content { display: none; }

.task {
    margin: 1rem auto;
}

.task-list__title { margin-top: 2rem; margin-bottom: 0.3rem; font-weight: var(--fontweight-heavy); }

.task-list__heading { display: inline; }

/******** UTILITIES: One job, done well. It performs one logical job: formatting, design, shape, font and element colours  ********/
.container-design { border-radius: 18px; }

.editorial-task { background-color: var(--clr-primary); }
.q1-goals-task { background-color: var(--clr-secondary-purple); }
.recruiting-task { background-color: var(--clr-secondary-green); }
.mobile-task { background-color: var(--clr-secondary-orange); }
.website-task { background-color: var(--clr-secondary-pink); }
.sales-task { background-color: var(--clr-secondary-lime); }

#options__active {
    background-color: var(--clr-primary);
    border-color: var(--clr-primary);
}

.task__status {
    font-size: 0.5rem;
    /* padding: 0.3rem; */
    padding: 0.2rem 0.3rem;
    border: 2px solid;
    border-radius: 50%;
    margin-right: 0.5rem;

    vertical-align: middle;
}

.task__category {
    padding: 0.3rem 0.6rem;
    margin-left: 0.5rem;
    font-size: var(--fontsize-small);
    border-radius: 8px;
    color: var(--clr-neutral-white);

    vertical-align: middle;
}


/* Color schemes divided into scalable Design Tokens: allows to apply a specific set of colours without repetition */
.background-primary { background-color: var(--clr-neutral-white); }

.background-secondary { background-color: var(--clr-neutral-grey); }

.color-primary { color: var(--clr-neutral-black); }

.color-secondary {  color: var(--clr-neutral-white); }

.color-neutral { color: var(--clr-neutral-grey); }

/********* BLOCKS: component specific rules *********/

.options__button {
    font-size: var(--fontsize-small);
    font-weight: var(--fontweight-heavy);
    color: var(--clr-neutral-grey-darker);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 3px solid var(--clr-neutral-grey-darker);
}

.task-description { vertical-align: middle;}

.task-completed {
    border-color: var(--clr-secondary-green);
    color: var(--clr-secondary-green);
}

.task-todo {
    border-color: var(--clr-secondary-red);
    color: var(--clr-secondary-red);
}

.task-completed::after {
    content: '\2713';
}

.task-todo::after {
    content: '\2717';
}

/********* EXCEPTIONS: variations to a block *********/

/********* MEDIA QUERIES: not doing yet *********/
